*{
  margin:0;
  padding: 0;
}

body{
  background-color:#191D2B;
  color: white;
  margin: 10px;
}
.booksHolder{
 display: grid;
 grid-template-columns: repeat(var(--num-columns),1fr);
 grid-gap: 5px;
}
.card{
  background-color:grey;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "img img"
                       "bookName bookName"
                       "author author"
                       "button button";
  grid-template-rows: 2fr 0fr 0fr 0.1fr;
}
.image{
  grid-area: img;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: grey;
}
.bookName{
  grid-area: bookName;
  font-size: 20px;
  font-weight: bolder;
  background-color: grey;
}
.author{
  grid-area: author;
  background-color:grey ;
  margin: 8px;
  font-weight: 500;
}
.button{
  grid-area: button;
  margin-bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: grey;
}
.image > img{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 210px;
  width: 100%;
}
:root{
  --num-columns:4;
}
.button >center> button{
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bolder;
}
.button >center> button:hover{
  background-color: chartreuse;
}
/* .separate{
  height: 100%;
  grid-area: separate;
  background-color: grey;
} */

